@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap') ;

body {
  background-image: url('images/background.png');
  color: white;
  font-family: Poiret One , sans-serif;
  font-size: 1.5em;
}
